/* responsive website project to balonismoboituva.com.br
   https://github.com/fernandoted/balonismoboituva
   author: Fernando Ted
   09-08-16 */

@import "variables";

.announce {
	background: $background-announce-color;
	padding: 0 10px 20px 10px;
	
	.announce-title-wrap {
		padding: 10px 0 10px 0;
		text-align: left;
		
		.announce-title {
			font-size: 1.2rem;
			margin-bottom: 0;
			
			.announce-icon {
				padding-right: 10px;
			}
		}
		
		.announce-text-wrap {
			padding-top: 0;
		
			.announce-text {
				font-size: .9rem;
				color: $text-color;
			}
		
			.announce-link {
				@extend .link;
			}
		}
	}
}
